<div class="grid-container">
  <h1 class="mat-h1">App <mat-icon class="mat-18">sentiment_very_satisfied</mat-icon>
  </h1>
  <mat-grid-list cols="2" rowHeight="150px">
    <!--  -->
    <mat-grid-tile colspan="1" rowspan="4">
      <mat-card class="dashboard-card c1">
        <mat-card-header>
          <mat-card-title>

          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">

          <app-card1 (tabtoogle)="setMTG($event)"></app-card1>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <!--  -->
    <mat-grid-tile colspan="1" rowspan="2">
      <mat-card class="dashboard-card c2">
        <mat-card-header>
          <mat-card-title>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
            
          <app-card2 [mtgi]="mtgi"></app-card2>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <!--  -->
    <mat-grid-tile colspan="1" rowspan="2">
      <mat-card class="dashboard-card c3" >
        <mat-card-header>
          <mat-card-title>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">

          <app-card3 [mtgi]="mtgi"></app-card3>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
<!--  -->
  </mat-grid-list>
</div>